@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

header{
    position: fixed;
    width: 100%;
    z-index: 60;
}
header img{
    width: 100%;
    border-radius: 80px;
    border: 5px solid rgb(61, 61, 61);
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
}
header img:hover{
    width: 120%;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
main{
    padding-top: 110px;
}
main section{
    height: 200px;
}
#home{
  margin-top: 100px;
}
#xp{
  margin-top: 450px;
}
#xp h4{
  color: #fff;
}
#rollup-link{
    text-decoration: none;
    color: black;
}
#rollup{
    width: 55px;
    height: 55px;
    border-radius: 15px;
    position: fixed;
    right: 20px;
    margin-bottom: 20px;
}
#arrow{
    padding-left: 39%;
    padding-top: 32%;
}
footer .row{
    height: 100px;
}

:root {
    --card-width: 200px;
    --card-height: 300px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  button:focus {
    outline: none;
    border: none;
  }
  
  .app {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  
  .cardList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: auto;
  }
  .cardList__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .cardList__btn.btn--left {
    left: -10%;
  }
  .cardList__btn.btn--right {
    right: -8.5%;
  }
  .cardList__btn .icon {
    width: 100%;
    height: 100%;
  }
  .cardList__btn .icon svg {
    width: 200%;
    height: 200%;
  }
  .cardList .cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  #cardlist {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
    user-select: none;
  }
  #cardlist::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    transition: opacity var(--card-transition-duration) var(--card-transition-easing);
    opacity: calc(1 - var(--opacity));
  }
  .card__image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .card__image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card.current--card {
    --current-card-rotation-offset: 0;
    --card-translateX-offset: 0;
    --card-rotation-offset: var(--current-card-rotation-offset);
    --card-scale-offset: 1.2;
    --opacity: 0.8;
    cursor: pointer;
  }
  .card.previous--card {
    --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
    --card-rotation-offset: 25deg;
  }
  .card.next--card {
    --card-translateX-offset: calc(var(--card-width) * 1.1);
    --card-rotation-offset: -25deg;
  }
  .card.previous--card, .card.next--card {
    --card-scale-offset: 0.9;
    --opacity: 0.4;
  }
  
  .infoList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: var(--card-height);
    pointer-events: none;
  }
  .infoList .info__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  .info {
    margin-bottom: calc(var(--card-height) / 8);
    margin-left: calc(var(--card-width) / 1.5);
    transform: translateZ(2rem);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
  }
  .info .text {
    position: relative;
    font-family: "Montserrat";
    font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
    white-space: nowrap;
    color: #fff;
    width: fit-content;
  }
  .info .name,
  .info .location {
    text-transform: uppercase;
  }
  .info .location {
    font-weight: 800;
  }
  .info .location {
    --mg-left: 40px;
    --text-size-offset: 0.12;
    font-weight: 600;
    margin-left: var(--mg-left);
    margin-bottom: calc(var(--mg-left) / 2);
    padding-bottom: 0.8rem;
  }
  .info .location::before, .info .location::after {
    content: "";
    position: absolute;
    background: #fff;
    left: 0%;
    transform: translate(calc(-1 * var(--mg-left)), -50%);
  }
  .info .location::before {
    top: 50%;
    width: 20px;
    height: 5px;
  }
  .info .location::after {
    bottom: 0;
    width: 60px;
    height: 2px;
  }
  .info .description {
    --text-size-offset: 0.065;
    font-weight: 500;
  }
  .info.current--info {
    opacity: 1;
    display: block;
  }
  .info.previous--info, .info.next--info {
    opacity: 0;
    display: none;
  }
  
  @media only screen and (min-width: 800px) {
    :root {
      --card-width: 250px;
      --card-height: 400px;
    }
  }
  
  /* LANDSCAPE FULLHD */
  @media screen and (max-width: 1900px) {
    header img{
      width: 130%;
    }
    header img:hover{
      width: 160%;
    }
  }

  /* LANDSCAPE HD */
  @media screen and (max-width: 1500px) {
    header img {
      width: 160%;
      border-radius: 200px;
    }
    header img:hover{
      width: 190%;
    }
  }

  /* MOBILE */
  @media screen and (max-width: 1100px) {
    header img{
      width: 320%;
      border-radius: 130px;
    }
    header img:hover{
      width: 380%;
      border-radius: 300px;
    }
  }

