header{
    position: fixed;
    width: 100%;
}
header img{
    width: 100%;
    border-radius: 80px;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
}
header img:hover{
    width: 120%;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}