@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0 auto; /*alinha a pagina com o navegador e remove a barra inferior de movimento */
    background-color: rgb(252, 252, 252);
    font-family: 'Roboto',sans-serif;
}
.menu{
    width: 100%;
    height: 170px;
    margin-top: -30px;
    background-color: #205375;
    border-radius: 15px;
    display: flex;
}
.line{
    height: 5px;
    width: 35px;
    border-radius: 10px;
    background-color: black;
    margin-top: 7px;
}
.profile-pic{
    float: left;
    margin-left: 50px;
    margin-top: 55px;
}
.profile-pic img{
    border-radius: 140px;
    margin-top: 5px;
    margin-left: 6px;
    margin-right: -15px;
    margin-bottom: 2px;
}
.borda{
    background-color: rgb(44, 44, 44);
    border-radius: 140px;
    width: 110%;

}
.navbars{
   display: flex;
   align-items: center;
   justify-content: center;
}
.navbars ul li{
    display: inline-block;
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 5px;
    font-size: 25px;
}
.desktop-menu{
    display: flex;
    padding-left: 150px;
}
.navbars ul li a{
    color: rgb(14, 14, 14);
    text-decoration: none;
    display: flex;
}
.context{
    margin-top: 250px;
    margin-left: 100px;
}
.resume{
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 150px;
}

#back-to-top{
    position: fixed;
    bottom: 50px;
    right: 50px;
}
#mobile-menu{
    position: fixed;
    top: 40px;
    right: 100px;
}