#borda{
    background-color: rgb(44, 44, 44);
    border-radius: 200px;
    height: 320px;
    width: 320px;
    margin-left: 80px;
}
main{
    margin-top: 250px;
}
.nav-option{
    text-align: center;
    font-size: 23px;
    margin-top: 40px;
    margin-left: 80px;
}
.col-1{
    width: 155px;
}
.nav-option a{
    text-decoration: none;
    color: black;
}
.nav-option a:hover{
    color: white;
}
.nav-option img{
    width: 40px;
}
@media (max-width<1850 ){
    
}