@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0 auto; /*alinha a pagina com o navegador e remove a barra inferior de movimento */
    background-color: rgb(252, 252, 252);
    font-family: 'Roboto',sans-serif;
}
.menu{
    width: 100%;
    height: 170px;
    margin-top: -30px;
    background-color: #205375;
    border-radius: 15px;
}
.profile-pic{
    float: left;
    margin-left: 50px;
    margin-top: 55px;
}
.profile-pic img{
    border-radius: 140px;
    margin-top: 5px;
    margin-left: 6px;
    margin-right: -15px;
    margin-bottom: 2px;
}
.borda{
    background-color: rgb(44, 44, 44);
    border-radius: 140px;
    width: 110%;

}
.navbars{
    width: 75%;
    float: right;
    margin-top: 70px;
}
.navbars ul li{
    float: left;
    display: inline-block;
    margin-left: 100px;
    font-size: 25px;
}
.navbars ul li a{
    color: rgb(14, 14, 14);
    text-decoration: none;
}
.context{
    margin-top: 200px;
    margin-left: 100px;
}