@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

html ::-webkit-scrollbar{
  width: 10px;
}

html ::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background: #0b8dc0;
}

.loader{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #0b8dc0;
  position: fixed;
  top: 36%;
  left: 43.5%;
  animation: pulsante 1.5s infinite;
  align-items: center;
  justify-content: center;
  display: flex;
}

.loader-background{
  width: 102%;
  height: 100%;
  position: fixed;
  left: -5px;
  z-index: 70;
  display: none;
}

.loader .img{
  border-radius: 200px;
  width: 200px;
  animation: loaderEntry 1s;
  align-content: center;
}

@keyframes loaderEntry {
  0%{
    rotate: 45deg;
    width: 50px;
  }
  100%{
    rotate: 0deg;
    width: 200px;
  }
}

@keyframes pulsante{
  0%{
    box-shadow: #0b8dc0 0 0 0 0;
  }
  100%{
    box-shadow: #0b8dc000 0 0 0 42px;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #3685b9;
  z-index: 99;
  align-content: center;
}

header h2{
  font-family: 'Kalam', cursive;
  position: fixed;
  top: 5%;
  left: 11%;
  animation: glowing 2.5s infinite;
  font-weight: 700;
}

@keyframes glowing {
  0%{
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
  50%{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
  }
  100%{
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
}

header #logo {
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid rgba(210, 200, 200, 0.659);
  position: fixed;
  top: 1%;
  left: 5%;
}

header #logo img{
  width: 100%;
  transform: scale(1.5);
}

main {
  padding-top: 110px;
}

#intro{
  padding-top: 50px;
  padding-bottom: 50px;
}

#intro .col img{
  width: 70%;
  border-radius: 20px;
  box-shadow: -7px 7px 7px #3685b9;
}

#intro #intro-text{
  text-align: justify;
}

#intro .col h1,p{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.projectSwiper{
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projectSwiper .swiper-slide{
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 415px;
}

.projectSwiper .swiper-slide img{
  display: block;
  width: 100%;
  height: 100%;
}

#projects .project-title{
  z-index: 60;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-shadow: 3px 3px black;
  cursor: pointer;
}

#projects .project-title .title{
  font-size: 40px;
  width: 300px;
}

#projects .project-title .description{
  width: 260px;
  background-color: rgba(87, 87, 87, 0.448);
  text-shadow: 1px 1px black;
  border-radius: 9px;
  padding: 7  px;
}