header{
    position: fixed;
    width: 100%;
}
header img{
    width: 100%;
    border-radius: 80px;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
}
header img:hover{
    width: 120%;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
main{
    padding-top: 110px;
}
main section{
    height: 200px;
}
#rollup{
    width: 55px;
    height: 55px;
    border-radius: 15px;
    position: fixed;
    right: 20px;
}
#rollup i{
    
}
footer .row{
    height: 100px;
}