@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #0b8dc0;
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #0b8dc0;
  position: fixed;
  top: 36%;
  left: 43.5%;
  animation: pulsante 1.5s infinite;
  align-items: center;
  justify-content: center;
  display: flex;
}

.loader-background {
  width: 102%;
  height: 100%;
  position: fixed;
  left: -5px;
  z-index: 100;
}

.loader .img {
  border-radius: 200px;
  width: 200px;
  animation: loaderEntry 1s;
  align-content: center;
}

@keyframes loaderEntry {
  0% {
    rotate: 45deg;
    width: 50px;
  }

  100% {
    rotate: 0deg;
    width: 200px;
  }
}

@keyframes pulsante {
  0% {
    box-shadow: #0b8dc0 0 0 0 0;
  }

  100% {
    box-shadow: #0b8dc000 0 0 0 42px;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #3685b9;
  z-index: 99;
  align-content: center;
  align-items: center;
  display: flex;
}

header .nav-menu {
  margin-left: 20%;
}

header .nav-menu a {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  transition: 0.25s ease-in-out;
}

header .nav-menu a:hover {
  color: white;
  border-color: white;
}

header h2 {
  font-family: 'Kalam', cursive;
  animation: glowing 2.5s infinite;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.625);
  margin-left: 15px;
  cursor: context-menu;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }

  50% {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.75);
  }

  100% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
}

header #logo {
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid rgba(210, 200, 200, 0.659);
  margin-left: 5%;
}

header #logo img {
  width: 100%;
  transform: scale(1.5);
}

.cont_principal {
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 50px;
}

.cont_centro {
  position: relative;
  width: fit-content;
  height: auto;
}

.cont_circle {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 5px 30px 5px rgba(43, 43, 43, 0.4);
  overflow: hidden;
  transition: all 0.5s;
  background-color: #565656;
  cursor: pointer;
}

.cont_circle_noche {
  box-shadow: 0px 5px 30px 5px rgba(62, 62, 62, 0.4);
  transition-delay: 0.7s;
}

.cont_circle_noche>.sun {
  animation-name: ocultar_sun;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.cont_circle_noche>.moon {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: salida_sun;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;

}

.cont_olas_top {
  position: absolute;
  bottom: 63px;
  left: -210px;
}

.cont_olas_bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  z-index: 0;
  overflow: hidden;
  border-radius: 50%;
}

.cont_olas_bottom>svg {
  transition: all 1.5s;
  position: relative;
  left: -50px;
  top: 15px;
}

.cont_circle_dia>.cont_olas_bottom>svg {
  position: relative;
  left: -140px;
}

.moon {
  position: absolute;
  top: 1px;
  right: 8px;
  border-radius: 50%;
  overflow: hidden;
}

.cont_circle_dia {
  background-color: #fcce18;
  transition-delay: 0.7s;
  box-shadow: 0px 5px 30px 5px rgba(252, 206, 24, 0.5);
}

.cont_circle_dia>.sun {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: salida_sun;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.cont_circle_dia>.moon {
  animation-name: ocultar_sun;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.sun {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 6px rgba(255, 255, 255, 0.5);
  transform: translate(-190px, 20px);
}

@-webkit-keyframes salida_sun {
  from {
    transform: translate(100px, 50px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

@-o-keyframes salida_sun {
  from {
    transform: translate(100px, 50px);
  }

  to {
    transform: translate(0px, 0px);
  }

}

@-moz-keyframes salida_sun {
  from {
    transform: translate(100px, 50px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

@keyframes salida_sun {
  from {
    transform: translate(100px, 50px);
  }

  to {
    transform: translate(0px, 0px);
  }
}



@-webkit-keyframes ocultar_sun {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-50px, -20px);
  }

  60% {
    transform: translate(-70px, -15px);
  }

  70% {
    transform: translate(-90px, -10px);
  }

  85% {
    transform: translate(-130px, 5px);
  }

  100% {
    transform: translate(-190px, 20px);
  }
}

@-o-keyframes ocultar_sun {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-50px, -20px);
  }

  60% {
    transform: translate(-70px, -15px);
  }

  70% {
    transform: translate(-90px, -10px);
  }

  85% {
    transform: translate(-130px, 5px);
  }

  100% {
    transform: translate(-190px, 20px);
  }
}

@-moz-keyframes ocultar_sun {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-50px, -20px);
  }

  60% {
    transform: translate(-70px, -15px);
  }

  70% {
    transform: translate(-90px, -10px);
  }

  85% {
    transform: translate(-130px, 5px);
  }

  100% {
    transform: translate(-190px, 20px);
  }
}

@keyframes ocultar_sun {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-50px, -20px);
  }

  60% {
    transform: translate(-70px, -15px);
  }

  70% {
    transform: translate(-90px, -10px);
  }

  85% {
    transform: translate(-130px, 5px);
  }

  100% {
    transform: translate(-190px, 20px);
  }
}

main {
  padding-top: 110px;
  background-color: #343a40;
}

#intro {
  padding-top: 50px;
  padding-bottom: 50px;
}

#intro .col img {
  width: 70%;
  border-radius: 20px;
  box-shadow: -7px 7px 7px #3685b9;
}

#intro #intro-text {
  text-align: justify;
}

#intro .col h1,
p {
  color: #e1e0e0;
  font-family: 'Montserrat', sans-serif;
}

.projectSwiper {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projectSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 415px;
}

#projects .swiper-button-next{
  right: 15%;
}

#projects .swiper-button-prev{
  left: 15%;
}

.projectSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

#projects .project-title {
  z-index: 60;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-shadow: 3px 3px black;
  cursor: pointer;
}

#projects .project-title .title {
  font-size: 40px;
  width: 300px;
}

#projects .project-title .description {
  width: 260px;
  background-color: rgba(87, 87, 87, 0.448);
  text-shadow: 1px 1px black;
  border-radius: 9px;
  padding: 7 px;
}

#projects #container{
  position: absolute;
  right: 13.6%;
  width: 75px;
  height: 75px;
}

#xp .card{
  background-color: #5a5b5b80;
  border-radius: 20px;
  padding: 30px;
}

#xp .card .row{
  padding-top: 20px;
  padding-bottom: 20px;
}

#xp .card .col{
  display: flex;
}

#xp .card .img-modal{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 5px solid #3685b9;
  border-radius: 200px;
  display: flex;
}

#xp .card img{
  width: 100%;
  scale: 0.8;
}

#xp .card #semisquare{
  width: 250px;
  height: 250px;
}

#xp .card .line{
  transform: rotate(90deg) translate(65px, 40px);
  width: 160px;
  height: 20px;
}

#xp .card .col .xp-desc{
  width: auto;
  transform: translate(-90px, 0);
}

footer{
  background-color: #0f5482;
  height: 180px;
  width: 100%;
  text-align: center;
}

footer .row{
  align-items: center;
}

footer .rights h6{
  margin-top: 15px !important;
}

footer a { 
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  display: flex;
  margin-top: 5px !important;
  transition: 0.2s ease-in-out;
}

footer a:hover{
  color: #999999;
  text-decoration: none;
}

footer .social .svg-inline--fa {
  color: black;
  height: 25px;
  margin-right: 10px;
}

footer .third-col .svg-inline--fa{
  color: black;
  height: 10px;
  margin-right: 5px;
}