@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

html ::-webkit-scrollbar{
  width: 10px;
}

html ::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background: #0b8dc0;
}

.loader{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #0b8dc0;
  position: fixed;
  top: 36%;
  left: 43.5%;
  animation: pulsante 1.5s infinite;
  align-items: center;
  justify-content: center;
  display: flex;
}

.loader-background{
  width: 102%;
  height: 100%;
  position: fixed;
  left: -5px;
  z-index: 70;
  display: none;
}

.loader .img{
  border-radius: 200px;
  width: 200px;
  animation: loaderEntry 1s;
  align-content: center;
}

@keyframes loaderEntry {
  0%{
    rotate: 45deg;
    width: 50px;
  }
  100%{
    rotate: 0deg;
    width: 200px;
  }
}

@keyframes pulsante{
  0%{
    box-shadow: #0b8dc0 0 0 0 0;
  }
  100%{
    box-shadow: #0b8dc000 0 0 0 42px;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #3685b9;
}

main {
  padding-top: 110px;
}

.projectSwiper{
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projectSwiper .swiper-slide{
  background-position: center;
  background-size: cover;
  width: auto;
  height: auto;
}

.projectSwiper .swiper-slide img{
  display: block;
  width: 307px;
  height: 415px;
}