@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

html ::-webkit-scrollbar{
  width: 10px;
}

html ::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background: #0b8dc0;
}

.loader{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #0b8dc0;
  position: fixed;
  top: 36%;
  left: 43.5%;
  animation: pulsante 1.5s infinite;
  align-items: center;
  justify-content: center;
  display: flex;
}

.loader-background{
  width: 102%;
  height: 100%;
  position: fixed;
  left: -5px;
  z-index: 70;
  display: none;
}

.loader .img{
  border-radius: 200px;
  width: 200px;
  animation: loaderEntry 1s;
  align-content: center;
}

@keyframes loaderEntry {
  0%{
    rotate: 45deg;
    width: 50px;
  }
  100%{
    rotate: 0deg;
    width: 200px;
  }
}

@keyframes pulsante{
  0%{
    box-shadow: #0b8dc0 0 0 0 0;
  }
  100%{
    box-shadow: #0b8dc000 0 0 0 42px;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 60;
}

main {
  padding-top: 110px;
}

main section {
  height: 200px;
}

#home {
  margin-top: 100px;
}

#xp {
  margin-top: 450px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#xp .container {
  margin-top: 80px;
  justify-content: center;
}

#xp li .col {
  display: flex;
  align-items: center;
  display: none;
}

#xp li .col-2 {
  display: flex;
  align-items: center;
}

#xp .card {
  background-color: #02a1c913;
  padding-top: 80px;
  padding-bottom: 80px;
}

#xp div .track-vertical {
  background-color: #fff;
  width: 90%;
  height: 5px;
}

#xp div .track-horizontal {
  background-color: #fff;
  width: 5px;
  height: 150px;
}

#xp div .track-continue {
  background-color: #fff;
  height: 250px;
  width: 5px;
  margin-left: 48%;
  margin-top: -5px;
  margin-bottom: -5px;
  display: none;
  animation-name: fadeInTrackContinue;
  animation-duration: 2s;
}

#xp h3,
h5,
h7 {
  color: #fff;
  padding-left: 3%;
}

#xp h3 {
  animation-name: fadeInTextH3;
  animation-duration: 3s;
}

#xp h5 {
  animation-name: fadeInTextH5;
  animation-duration: 3s;
}

#xp h7 {
  animation-name: fadeInTextH7;
  animation-duration: 3s;
}

@keyframes fadeInXpRightItem {
  from {
    margin-left: 80%;
    opacity: 0%;
  }

  to {
    margin-left: 41%;
    opacity: 100%;
  }
}

@keyframes fadeInXpLeftItem {
  from {
    margin-left: -50px;
    opacity: 0%;
  }

  to {
    margin-left: 0px;
    opacity: 100%;
  }
}

@keyframes fadeInTextH3 {
  from {
    font-size: 5px;
    opacity: 0%;
  }

  to {
    font-size: 28px;
    opacity: 100%;
  }
}

@keyframes fadeInTextH5 {
  from {
    font-size: 5px;
    opacity: 0%;
  }

  to {
    font-size: 20px;
    opacity: 100%;
  }
}

@keyframes fadeInTextH7 {
  from {
    font-size: 0px;
    opacity: 0%;
  }

  to {
    font-size: 16px;
    opacity: 100%;
  }
}

@keyframes fadeInTrackContinue {
  0% {
    height: 0px;
  }

  100% {
    height: 250px;
  }
}

.rounded-img {
  width: 180px;
  border-radius: 120px;
  border: 5px solid #3685b9;
  animation-name: fadeInXpRightItem;
  animation-duration: 2s;
}

#xp .row .right-img {
  animation-name: fadeInXpLeftItem !important;
  animation-duration: 2s !important;
}

#rollup-link {
  text-decoration: none;
  color: black;
}

#rollup {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  position: fixed;
  left: 95%;
  bottom: 5%;
}

#arrow {
  padding-left: 39%;
  padding-top: 32%;
}

#container{
  position: absolute;
  width: 50px;
  height: 50px;
  right: -75px;
  top: -13px;
  opacity: 100%;
  animation-name: appearing;
  animation-duration: 6000ms;
}

@keyframes appearing {
  from{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}

.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.cardList__btn.btn--left {
  left: -10%;
}

.cardList__btn.btn--right {
  right: -8.5%;
  
}

.cardList__btn .icon {
  width: 100%;
  height: 100%;
}

.cardList__btn .icon svg {
  width: 200%;
  height: 200%;
}

.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

#cardlist {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}

#cardlist::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}

.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
  cursor: pointer;
}

.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}

.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}

.card.previous--card,
.card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}

.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}

.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}

.info .name,
.info .location {
  text-transform: uppercase;
}

.info .location {
  font-weight: 800;
}

.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}

.info .location::before,
.info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}

.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}

.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}

.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}

.info.current--info {
  opacity: 1;
  display: block;
}

.info.previous--info,
.info.next--info {
  opacity: 0;
  display: none;
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}

/* LANDSCAPE FULLHD */
@media screen and (max-width: 1900px) {
  header img {
    width: 130%;
  }

  header img:hover {
    width: 160%;
  }
}

/* LANDSCAPE HD */
@media screen and (max-width: 1500px) {
  header img {
    width: 160%;
    border-radius: 200px;
  }

  header img:hover {
    width: 190%;
  }
}

/* MOBILE */
@media screen and (max-width: 1100px) {
  header img {
    width: 320%;
    border-radius: 130px;
  }

  header img:hover {
    width: 380%;
    border-radius: 300px;
  }

  #form .col-3 {
    margin: 150px;
    width: 700px;
  }

  #form .col-3 h3 {
    font-size: 55px;
  }

  #form .col-3 h6 {
    font-size: 30px;
  }

  #form .col-3 h4 {
    font-size: 35px;
  }

  #form .col-3 .progress {
    height: 484px;
  }

  #xp .card .col .rounded-img {
    margin-left: 5.8% !important;
  }

  #xp .card .middle-xp {
    margin-left: 49.5px !important;
  }

  #xp .card .track-continue {
    margin-top: -20px;
    margin-bottom: -20px;
  }

  #xp .card .col .right-img {
    margin-left: 0% !important;
    margin-right: 69px;
  }

  #xp .card h3 {
    font-size: 35px;
  }

  #xp .card h5 {
    font-size: 20px;
  }
}