@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto',sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
i{
    margin-right: 10px;
}
.navbar-logo{
    padding: 15px;
    color: ;
}
.navbar{
    background-color: #5161ce;
    padding: 0px;
}
#navbarSupportedContent ul{
    padding: 0px;
    margin: 0px;
}
#navbarSupportedContent ul li a i{
    margin-right: 10px;
}
#navbarSupportedContent li{
    list-style-type: none;
    float: left;
}
#navbarSupportedContent ul li a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px, 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
    color: #5161ce;
    background-color: transparent;
    transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child)::after{
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5;
}
#navbarSupportedContent